
a {
    display: block;
    border: 1px solid black;
    background-color: green;

}

b {
    display: block;
    background-color: cadetblue;
    padding: 20px
}

c {
    display: block;
    background-color: orange;
    margin-top: 50px
}

d {
    display: block;
    background-color: gainsboro;
    width: 100px ;
    height: 100px ;
    margin: 5px ;
    padding: 5px ;
    border-width: 5px ;
    border: 2px solid black;
}

span {
    display: inline-blockblock;
    background: white;
    width: 20px;
    heigth: 10px
}