
P {
  position : relative;
  font-family: Arial, Helvetica, sans-serif;
  word-wrap: break-word;
  width: 582px;
  margin: 20px
}

.container::before {
  content: '';
  display: block;
  background-image: url('Cat.jpg') ;
  width: 602px;
  height: 520px;
  position: absolute;
  background-size: 120%;
  background-repeat: no-repeat;
  padding: 0px;
  border : solid;

}


