
opdracht4
h1#color{
    color: green;
}
p#other{
    color:darkblue
}
#last{
    color: green;
}
opdracht5
.Groen{
    color:green
}

Opdracht6
[href] {
    color:pink
}
Opdracht7
.opdracht{
    color: pink;
}
  