body {background-color: rgb(238, 189, 189);}

h3 {background-color: rgb(118, 118, 222);}

div {background-color: rgb(220, 227, 233)}

h2 {color: green}

h5 {color: darkblue}

/* * {text-align: center;} */














